body {
    padding: 1rem;
}

#canvas {
    border: 1px black solid;
    height: 100vh;
    background-color: #bbb; 

    
    /* Disables scrolling */
    touch-action: none;
    overscroll-behavior: contain;
}

.softwareSystem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 10em;
    height: 6em;
    background-color: #444;
    border: 1px solid black;
    transition: border 0.1s ease;
}

.softwareSystem:hover {
  box-shadow: 0 0 3px 2px blue;
}

.person {
    position: absolute;
    width: 8em;
    height: 8em;
    display: flex;
    flex-direction: column;
    align-items: center;
    pointer-events: auto;
}

/* Positionins the name of the person element absolutely. Might break things. */
.person span, .person input {
    position: absolute;
    margin-top: 4.75em;
}

.person::before {
    content: '';
    width: 4rem;
    height: 3.75rem;
    background-color: #444;
    border: 1px solid black;
    border-radius: 50%;
}

.person::after {
    content: '';
    width: 8rem;
    height: 4.25rem;
    background-color: #444;
    border: 1px solid black;
    border-radius: 8px;
    margin-top: 2px;
}

.person:hover {
  box-shadow: 0 0 3px 2px blue;
}

