#canvas {
    border: 1px black solid;
    height: 100vh;
    background-color: #f5f5f5;
}

.softwareSystem {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;

    width: 120px;
    height: 75px;
    background-color: #bbb;
    border: 1px solid black;
    transition: border 0.1s ease;
}

.softwareSystem:hover {
  box-shadow: 0 0 3px 2px blue;
}
